*,
*::before,
*::after {
  box-sizing: border-box;
}

.sidenav-container {
  height: 100vh;
  background: linear-gradient(135deg, #041133, #092265, #1c49c0);
  transition: width 0.3s ease-in-out;
  display: flex;
  border-radius: none;

  &.collapsed {
    width: 80px;
  }
}

.sidenav {
  background: linear-gradient(135deg, #041133, #092265, #1c49c0);
  border: none;
  width: 100%;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }

  &.collapsed {
    .navText span {
      display: none;
    }
  }
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  gap: 12px;
  // margin-top: 24px;
  margin-bottom: 48px;

  .logo-img {
    width: 38px;
    height: 38px;
  }
}

.navText {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  transition: background-color 0.2s;
  min-height: 50px;
  border-radius: 0px !important;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4px;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 0px !important;
  }

  &:hover::before,
  &.active-link::before {
    opacity: 1;
  }

  &:hover,
  &.active-link {
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    border-radius: 0px !important;
  }
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 16px;
  width: 100%;

  img {
    min-width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
  }

  span {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
  }
}

.sidebar-header {
  margin-top: auto;
  padding: 24px;
  display: flex;
  justify-content: center;

  .icon-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    img {
      width: 24px;
      filter: brightness(0) invert(1);
      transition: transform 0.3s ease;
    }

    &:hover {
      border-radius: 8px !important;
    }

    &.rotated img {
      transform: rotate(180deg);
    }
  }
}
