<mat-toolbar class="header-toolbar">
  <div class="left">
    <span class="page-title">Dashboard</span>
  </div>


  <div class="right">
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="menu" class="user-profile">
      <div class="profile-info">
        <img src="assets/avatar.png" class="avatar" />
        <span>{{ userName() }}</span>
      </div>
      <mat-icon>expand_more</mat-icon>
    </button>

    <mat-menu #menu="matMenu" class="profile-menu">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>

      <button mat-menu-item routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
