<mat-sidenav-container class="layout-shell" [autosize]="true">
  <mat-sidenav
    class="app-drawer"
    [mode]="layout.isMobile() ? 'over' : 'side'"
    [opened]="layout.drawerOpened()"
    (openedChange)="layout.onDrawerOpenedChange($event)"
    [fixedInViewport]="layout.isMobile()"
    [disableClose]="!layout.isMobile()"
  >
    <app-sidebar />
  </mat-sidenav>

  <mat-sidenav-content class="main-shell">
    <app-header />
    <div class="content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
