.not-found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  h1 {
    font-size: 120px;
    margin: 0;
    line-height: 1.1;

    background: linear-gradient(90deg, #092265, #1c49c0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-size: 20px;
    color: #666;
  }
}
