<mat-toolbar class="header-toolbar">
  <div class="left">
    @if (layout.isMobile()) {
      <button
        mat-icon-button
        type="button"
        class="menu-button"
        (click)="layout.toggleSidenav()"
        [attr.aria-label]="'header.openMenu' | translate"
      >
        <mat-icon>menu</mat-icon>
      </button>
    }
    <div class="company-name">{{ companyName() }}</div>
  </div>

  <form class="header-search" (ngSubmit)="submitSearch()">
    <div class="search-input-wrap">
      <mat-icon class="search-icon">search</mat-icon>
      <input
        type="text"
        name="headerSearch"
        [(ngModel)]="searchQuery"
        [placeholder]="'common.search' | translate"
        autocomplete="off"
      />
      @if (searchQuery.trim()) {
        <button mat-icon-button type="button" (click)="clearSearch()" [attr.aria-label]="'header.clearSearch' | translate">
          <mat-icon>close</mat-icon>
        </button>
      }
    </div>
    <button mat-stroked-button type="submit" class="search-submit btn btn-secondary">{{ 'common.search' | translate }}</button>
  </form>

  <div class="right">
    <button
      mat-icon-button
      [matMenuTriggerFor]="languageMenu"
      [attr.aria-label]="'header.language' | translate"
      class="lang-icon-btn"
    >
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #languageMenu="matMenu">
      <button mat-menu-item type="button" (click)="switchLanguage('en')" translate="no" class="notranslate">
        <span [class.active-lang]="currentLanguage() === 'en'" translate="no" class="notranslate" lang="en" ngNonBindable>EN</span>
      </button>
      <button mat-menu-item type="button" (click)="switchLanguage('uk')" translate="no" class="notranslate">
        <span [class.active-lang]="currentLanguage() === 'uk'" translate="no" class="notranslate" lang="uk" ngNonBindable>UA</span>
      </button>
    </mat-menu>

    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="menu" class="user-profile">
      <div class="profile-info">
        @if (avatarUrl()) {
          <img [appAuthenticatedImgSrc]="avatarUrl()" [authMeAvatar]="true" class="avatar" alt="" />
        } @else {
          <div class="avatar avatar-fallback">{{ avatarText() }}</div>
        }
        <div class="user-meta">
          <span class="name">{{ userName() }}</span>
        </div>
      </div>
      <mat-icon>expand_more</mat-icon>
    </button>

    <mat-menu #menu="matMenu" class="profile-menu">
      <button mat-menu-item (click)="goToProfile()">
        <mat-icon>person</mat-icon>
        <span>{{ 'header.profile' | translate }}</span>
      </button>

      <button mat-menu-item (click)="goToSettings()">
        <mat-icon>settings</mat-icon>
        <span>{{ 'header.settings' | translate }}</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>{{ 'header.logout' | translate }}</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
