<div class="pagination-wrap">
  <span>{{ 'pagination.showing' | translate }} {{ itemsCount }} {{ 'pagination.of' | translate }} {{ total }}</span>
  <div class="pager">
    <button mat-button type="button" [disabled]="!canPrev()" (click)="prev.emit()">{{ 'pagination.prev' | translate }}</button>
    <span>{{ 'pagination.page' | translate }} {{ page }}</span>
    <button mat-button type="button" [disabled]="!canNext()" (click)="next.emit()">{{ 'pagination.next' | translate }}</button>
  </div>
</div>
